.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 65px;
  width: 100%;
  background-color: #282828;
  padding: 20px;
}
.footer_right * .MuiSlider-root {
  color: greenyellow;
}
.footer_left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: aliceblue;
  max-width: 300px;
}
.footer_albumlogo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}
.footer_songinfo > h4 {
  margin-bottom: 5px;
}
.footer_songinfo > p {
  font-size: 12px;
}
.footer_center {
  flex: 0.4;
  min-width: 300px;
  padding: 0 100px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_green {
  color: greenyellow;
}
.footer_right {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: aliceblue;
}
.footer_icon:hover,
.footer_green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}
@media only screen and (max-width: 667px) {
  .footer {
    justify-content: center;
  }
  .footer_center {
    padding: 0 50px;
  }
  .footer_right {
    display: none;
  }
}
